.container {
  min-height: 100vh;
  min-width: 320px;
  background-image: linear-gradient( to right, #dc3131, #f24949,#dc3131 );
  color: #fff;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoNav {
  margin:1rem 0 1rem  0;
  z-index: 2;
  position: absolute;
  display: flex;
  top: 10px;
  left: 20px;
}

.logoContainer {
  margin-top:10px;
}

.tagLineBackground {
  background-color: #fff;
  height: 80px;
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}

.tagLineDescription {
  color: #DC3131;
  font-size: large;
  display:flex;
  align-items: center;
}

.whoAreWeSection {
  display:flex;
  width:100%;
  flex-direction:row;
  margin-top:100px;
  align-items: center;
  background-color: #dd3130;

}

.whoAreWeImg {
  width: 100%;
  flex: 1 1 auto;
  
}

.whoAreWeImg img {
  width:100%;
  height:auto;
  
}

.whoAreWeWelcomeText h3, .menuSection h3 {
  font-weight: 100;
  font-size: x-large;
}

.whoAreWeWelcomeText {
  width: 40%;
  text-align:center;
  padding:40px;
  flex: 1 1 auto;

}

.whoAreWeWelcomeText button {
  border-radius: 15px;
  background-color: #fff;
  color: #DC3131;
  text-transform: uppercase;
  padding:10px 30px;
  border:0;
  font-size: x-small;
}

.menuSection {

  width:100%;
  background-color: lightgrey;
  background-image: url('/images/menu-marble-background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:30px;

}

.menuText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menuIntro {
   
   background: #333;
   opacity: 0.7;
   padding: 30px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   text-align: center;
   box-shadow: 0 -2px 10px black;
}

.menuSocialMediaFooter {
    background: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:110px;
    box-shadow: 0 2px 10px black;
}

.menuSocialMediaFooter ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
}

.menuSocialMediaFooter li {
  margin: 10px;
}

.menuSocialMediaFooter a {
  display: block;
}

.menuPizzas {
  border: 0;
  flex: 2;
  padding: 20px 0 20px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menuPizzas > div {
  flex: 40%;

}


.menuPizzaItem {  
  width:180px;
  padding:20px;

}

.menuPizzaItem div div {

    overflow: visible !important;
}

.menuPizzaItem img {
  border-bottom-left-radius: 60px;
  box-shadow: 0 6px 6px #333;
}

.menuPizzaItemTitle {
  background: #DC3131;
  color: white;
  padding: 10px;
  max-width: 20rem;
  position: relative;
  top: 60px;
  z-index: 2;
  box-shadow: 0px 6px 6px #333;
}

.findUsSection {
  width:100%;
  display:flex;
  padding: 100px 30px;
}
.findUsMap {
  flex:3

}

.findUsText {
  margin-left: 30px;
  flex:1
}

.findUsText h3 {
  font-size: x-large;
  font-weight:100;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #817d7d;
  padding: 60px 30px 10px;
  flex-direction:column;
}

.footerLogo p {
  text-align:center;
}

.footer img {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerCredit {
  font-size:x-small;
  color:darkgray;
}

.heroBackground:before {
  z-index:1;
  content:'';
  background-image: linear-gradient(to bottom, rgba(81, 84, 102, 0.52), rgba(105, 27, 21, 0.73));
  background-size: cover;
  background-position: center;
}
.heroBackground {
  z-index:0;
  padding: 1rem;
  height: 200px;
  text-align: center;
}

.heroTitle, .heroDescription {
  z-index:2;
  position: relative;
  color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}


.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



@media (max-width: 426px) {

    .logoNav{
       flex-direction: column;
       left:0;
  }
  
  .tagLineBackground {
    background-color: #fff;
    height: 260px;
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  
  .tagLineDescription {     
    margin-top:0;
    padding: 10px 30px;
    text-align: center;
  }

  .whoAreWeSection {
    flex-direction: column;
    flex: 1 1 auto;
    margin-top:0;
    background-image: linear-gradient( to right, #dc3131, #f24949,#dc3131 );
  }

  .whoAreWeImg {
    width: 100%;
    margin-top:300px;
  }

  .whoAreWeWelcomeText {
    width: 100%;
    padding:40px 40px 80px;
    
  }

  .menuSection {
    padding:0;
    flex-direction: column;
    width:100%;
    align-items: normal;
  }

  .menuPizzas {
    width:100%;
    display:inline-block !important;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align: middle;
  }

.menuPizzas > div {
  flex: 100%;
}
  .menuPizzaItem {
   width:300px;
   display:inline-block;
  }

  .menuIntro, .menuSocialMediaFooter {
    border-radius:0;
  }

  .findUsSection {
    flex-direction: column-reverse;
    padding: 0;
  }

  .findUsMap {
    flex:1;
    height:200px;
  }
  
  .findUsText {
    margin:40px 30px 40px;
  }

}